@font-face {
  font-family: my-font;
  src: url(/font/Roboto-Medium.ttf);
}

:root {
  --content-bg: whitesmoke;
  --menu-bg: lightblue;
  --color: silver;
  --icon-size: 50px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* to make all the menu icon in center, 
I need to make another div to wrap the image.
And target that div to make same width */
.menu {
  display: grid;
  grid-row: span 2;
  background-color: aqua;
  padding: 15px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-icon {
  display: flex;
  margin-right: 5px;
  width: 20%;
  justify-content: center;
}

.title-menu,
.menu-main > div,
.support-menu > div {
  display: flex;
  align-items: center;
}

.title-menu {
  font-size: 1.5rem;
  font-family: my-font;
}

.title-menu .menu-icon > img {
  width: 100%;
}

.menu-main img,
.support-menu img {
  width: 50%;
}

.menu-main > div,
.support-menu > div {
  font-size: 1.1rem;
  font-family: my-font;
}

.menu-main,
.support-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.footer {
  background-color: burlywood;
}

.icon {
  width: 50px;
}

h1 {
  font-size: 1rem;
}

.welcome-text > img {
  width: 100px;
}

.project-box {
  border: 2px solid black;
  grid-row: span 2;
}

.project {
  border: 1px solid black;
}

.ann-box {
  border: 2px solid black;
}

.ann {
  border: 1px solid black;
}

.trending-box {
  border: 2px solid black;
}

.footer {
  grid-column: span 2;
}
