@font-face {
  font-family: light-font;
  src: url(font/Roboto-Light.ttf);
}

@font-face {
  font-family: bold-font;
  src: url(font/Roboto-Medium.ttf);
}

:root {
  --content-bg: whitesmoke;
  --menu-bg: #0895d8;
  --grey-text: #e5e7eb;
  --icon-size: 50px;
  --icon-bg: #f59e0b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* to make all the menu icon in center, 
I need to make another div to wrap the image.
And target that div to make same width */
.menu {
  display: grid;
  grid-row: span 2;
  background-color: var(--menu-bg);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  z-index: 2;
  min-width: 180px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 40px;
  color: white;
  width: auto;
}

.menu-icon {
  display: flex;
  margin-right: 5px;
  min-width: 20%;
  justify-content: center;
}

.title-menu,
.menu-main > div,
.support-menu > div {
  display: flex;
  align-items: center;
}

.title-menu {
  font-size: 1.5rem;
  font-family: bold-font;
}

.title-menu .menu-icon > img {
  width: 100%;
}

.menu-main img,
.support-menu img {
  width: 50%;
}

.menu-main > div,
.support-menu > div {
  font-size: 1.1rem;
  font-family: bold-font;
}

.menu-main,
.support-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: grid;
  background-color: white;
  grid-template-columns: 2fr 1fr;
  padding: 15px 40px;
  gap: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}

h1,
h2 {
  font-family: bold-font;
}

.search-box {
  display: flex;
  height: 25px;
  align-self: center;
  gap: 10px;
}

.search-box > img {
  width: 20px;
}

input {
  width: 100%;
  border-radius: 20px;
  border-style: none;
  background-color: var(--grey-text);
}

.top-right {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-self: flex-end;
  padding-right: 20px;
}

.top-right > img:nth-child(1) {
  width: 20px;
}

.icon {
  width: 40px;
  border-radius: 50%;
}

h1 {
  font-size: 1rem;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-info > img {
  width: 65px;
  border-radius: 50%;
}

.welcome-text > h2:nth-child(1) {
  font-size: 0.8rem;
  margin-bottom: 5px;
}

.welcome-text > h2:nth-child(2) {
  font-size: 1.3rem;
}

.header-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  font-size: 0.8rem;
  border-radius: 20px;
  border-style: none;
  background-color: var(--menu-bg);
  color: white;
  font-family: bold-font;
  width: 80px;
  height: 30px;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 25px 15px;
  background-color: var(--grey-text);
}

.project-content {
  grid-row: span 2;
}

h3 {
  margin-bottom: 10px;
  font-family: light-font;
  font-size: 1.1rem;
  font-weight: 1000px;
}

.project-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-right: 15px;
  height: calc(100% - 30px); /* 20px is the gap + 10px margin bottom  */
}

.project-bg {
  background-color: var(--icon-bg);
  width: clamp(240px, calc(100% - 10px), 400px);
  padding-left: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 5px;
}

.project {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  justify-content: space-around;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: calc(100% - 30px); /* 30px are both top and bot padding */
}

.project-utility-icon {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.project-text p,
.ann p,
.trending-text p:nth-child(2) {
  font-family: light-font;
  color: rgba(0, 0, 0, 0.6);
}

.project-text h4 {
  font-family: bold-font;
  font-size: 1rem;
}

.project-text p {
  font-size: 0.9rem;
}

.ann-box {
  background-color: var(--grey-text);
}

.content-ann {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 5px;
}

.ann h4 {
  font-family: bold-font;
  font-size: 0.8rem;
}

.ann {
  padding: 5px;
}

.ann p {
  font-size: 0.7rem;
}

hr {
  color: rgba(0, 0, 0, 0.2);
}

.trending-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.content-trending {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px 0px;
  padding-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 5px;
  border-radius: 8px;
}

.trending-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trending-text p:nth-child(1) {
  font-family: light-font;
}

.trending-text p {
  font-size: 0.8rem;
}

.footer {
  grid-column: span 2;
  background-color: #616060;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 6px 0px;
}

.fa-github {
  color: white;
  transition: 0.5s;
}

.fa-github:hover {
  transform: rotate(360deg);
}
